# Dependencies
node_modules/
.pnpm-store/

# Build
.next/
dist/
.turbo/

# Env
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel/
.vercel
.env*.local
apps/www/.env.development

# Personal
*.raw.md