@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

code {
  background-color: #1a1a1a;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-size: 0.9em;
}

pre {
  background-color: #1a1a1a;
  padding: 1em;
  border-radius: 8px;
  overflow-x: auto;
}
