openapi: "3.1.0"
info:
  title: imajin www
  version: "1.0.0"
  description: Imajin home — platform health dashboard, email subscriptions, bug reporting, and well-known mobile app association files.
servers:
  - url: https://www.imajin.ai
    description: production
  - url: https://dev-www.imajin.ai
    description: dev
  - url: http://localhost:7007
    description: local

tags:
  - name: www
    description: imajin www service

components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: imajin_session
    bearerAuth:
      type: http
      scheme: bearer
      description: "Bearer token (imajin_tok_* API token)"
  schemas:
    BugReport:
      type: object
      properties:
        id: { type: string, example: "bug_..." }
        reporterDid: { type: string }
        reporterName: { type: string }
        type:
          type: string
          enum: [bug, suggestion, question, other]
        description: { type: string }
        screenshotUrl: { type: string }
        pageUrl: { type: string }
        userAgent: { type: string }
        viewport: { type: string }
        status:
          type: string
          enum: [new, reviewed, imported, closed, duplicate]
        adminNotes: { type: string }
        duplicateOf: { type: string }
        githubIssueNumber: { type: integer }
        githubIssueUrl: { type: string }
        reviewedBy: { type: string }
        reviewedAt: { type: string, format: date-time }
        createdAt: { type: string, format: date-time }
    Error:
      type: object
      required: [error]
      properties:
        error: { type: string }

paths:
  /api/health:
    get:
      tags: [www]
      operationId: healthCheck
      summary: Platform-wide health dashboard
      description: |
        Pings all platform services (www, auth, pay, profile, registry, events, chat,
        connections, input, media, coffee, dykil, links, learn, market) via HEAD request.
        Any response (including 4xx) is considered `up`; 5xx is `degraded`; timeout/error is `down`.
      responses:
        "200":
          description: Health status
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [operational, degraded]
                  timestamp: { type: string, format: date-time }
                  services:
                    type: array
                    items:
                      type: object
                      properties:
                        name: { type: string }
                        label: { type: string }
                        url: { type: string }
                        status: { type: string, enum: [up, down, degraded] }
                        responseTime: { type: integer, nullable: true }
                        statusCode: { type: integer, nullable: true }
                        error: { type: string }

  /api/subscribe:
    post:
      tags: [www]
      operationId: subscribe
      summary: Subscribe an email address to platform updates
      description: |
        Subscribes the email to the `updates` mailing list. Creates the contact and list if they
        do not exist. Re-subscribes contacts that previously unsubscribed. Idempotent — returns
        200 with `already on the list` message if already subscribed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                source:
                  type: string
                  default: register
                  description: "Subscription source label (e.g. register, landing)"
      responses:
        "200":
          description: Subscribed (or already subscribed)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: { type: boolean }
                  message: { type: string }
        "400":
          description: Invalid or missing email
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "500":
          description: Server error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/bugs:
    post:
      tags: [www]
      operationId: submitBugReport
      summary: Submit a new bug report
      description: |
        Authenticated users can submit bug reports, suggestions, questions, or general feedback.
        The user-agent is captured automatically from the request headers.
      security:
        - cookieAuth: []
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [description]
              properties:
                type:
                  type: string
                  enum: [bug, suggestion, question, other]
                  default: bug
                description:
                  type: string
                  description: "Description of the issue (required, non-empty)"
                screenshotUrl: { type: string, format: uri }
                pageUrl: { type: string, format: uri }
                viewport: { type: string, description: "e.g. 1440x900" }
      responses:
        "201":
          description: Bug report submitted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BugReport" }
        "400":
          description: description is required
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    get:
      tags: [www]
      operationId: listBugReports
      summary: List bug reports for the authenticated user (or all with ?scope=all)
      description: |
        Without `scope=all`: returns only the authenticated user's own reports.
        With `scope=all`: returns all reports (reporter details redacted for others' reports).
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: scope
          in: query
          schema: { type: string, enum: [all] }
          description: "Pass `all` to return all reports (reporter details redacted)"
      responses:
        "200":
          description: Bug report list
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/BugReport" }
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/bugs/admin:
    get:
      tags: [www]
      operationId: listAllBugReportsAdmin
      summary: List all bug reports — admin only
      description: Returns all reports ordered by createdAt desc. Optionally filter by status. Requires admin identity.
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [new, reviewed, imported, closed, duplicate]
      responses:
        "200":
          description: All bug reports
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/BugReport" }
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "403":
          description: Forbidden — admin only
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/bugs/{id}:
    patch:
      tags: [www]
      operationId: updateBugReport
      summary: Update a bug report — admin only
      description: Allows admins to update the status, add notes, or mark as duplicate.
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [new, reviewed, imported, closed, duplicate]
                adminNotes: { type: string }
                duplicateOf: { type: string }
      responses:
        "200":
          description: Bug report updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BugReport" }
        "400":
          description: Invalid JSON
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "403":
          description: Forbidden — admin only
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Bug report not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /api/bugs/{id}/import:
    post:
      tags: [www]
      operationId: importBugToGithub
      summary: Create a GitHub issue from a bug report — admin only
      description: |
        Creates a GitHub issue in the configured repository (`GITHUB_REPO`) using `GITHUB_TOKEN`.
        Marks the report as `imported` and stores the GitHub issue number and URL.
        Requires admin identity and `GITHUB_TOKEN` env var.
      security:
        - cookieAuth: []
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: GitHub issue created and report updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BugReport" }
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "403":
          description: Forbidden — admin only
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "404":
          description: Bug report not found
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "500":
          description: GITHUB_TOKEN not configured
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "502":
          description: GitHub API error
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /.well-known/apple-app-site-association:
    get:
      tags: [www]
      operationId: appleAppSiteAssociation
      summary: iOS Universal Links / Webcredentials association file
      description: |
        Dynamically generated AASA file establishing cross-subdomain trust for iOS.
        Enables seamless auth handoff across all platform subdomains for PWA/native app scenarios.
        Cached for 24 hours.
      responses:
        "200":
          description: Apple App Site Association JSON
          content:
            application/json:
              schema:
                type: object
                properties:
                  webcredentials: { type: object }
                  applinks: { type: object }

  /.well-known/assetlinks.json:
    get:
      tags: [www]
      operationId: androidAssetLinks
      summary: Android Digital Asset Links file
      description: |
        Dynamically generated Digital Asset Links file declaring all platform subdomains as
        trusted. Prevents "wants to access other apps" warnings on cross-subdomain navigation.
        Cached for 24 hours.
      responses:
        "200":
          description: Android Asset Links JSON array
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    relation:
                      type: array
                      items: { type: string }
                    target: { type: object }

  /api/spec:
    get:
      tags: [www]
      operationId: getSpec
      summary: Serve the OpenAPI spec YAML
      responses:
        "200":
          description: OpenAPI YAML
          content:
            text/yaml:
              schema: { type: string }
